---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Terminal from '../components/Terminal.astro';
---

<Layout>
  <div class="fixed right-3 top-3 z-50 sm:right-5 sm:top-5">
    <ThemeToggle />
  </div>

  <Terminal />
</Layout>
